@mixin cool {
    background-color: aqua;
    width: 100px;
    color: red;
    h1{
        margin: 20px;
        padding: 20px;
        &:hover{
            color: black;
        }

    }
    p{
        text-align: center;
        font-size: 12px;
    }
}
.parent{
    @include cool;
}