.navbar{
    height: 50px;
    border: 1px solid rgb(22, 23, 45);
    display: flex;
    align-items: center;
    font-size: 14px;
    color:brown;
    
  
    .wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2px;
        justify-content: space-between;
.search{
    display: flex;
    align-items: center;
    border: 0.5px solid darkgray;
    padding: 3px;
    .input{
        border: none;
        outline: none;
        background-color: transparent;
        &::placeholder{
            font-size: 12px;
        }
    }
}
        .items{
            display: flex;
            align-items: center;
           
            .item{
                display: flex;
                margin-right: 20px;
                position: relative;
.ico{
    font-size: 20px;
    
}
.counter{
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -5px;
}
            }
        }
    }
   
}